@import "react-alice-carousel/lib/alice-carousel.css";
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');


* {
    margin: 0px;
    padding: 0px;
}
#background {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#boldMe {
    font-weight: bold;
}
.skills img{
    height: 55px;
    border-radius: 50%;
    margin: 5px;
}
.page_wrap { 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 4.5%;
}
#About {
    width: 75%;
    margin-left: 7.5%;
}
#titles { 
    font-family: 'Orbitron', sans-serif; 
}
#github {
    width: 7.5%;
    border-radius: 50%;
}
#contact_github {
    width: 15%;
    border-radius: 50%;
}
#contact_linkedin {
    width: 15%;
    border-radius: 15%;
}
#linkedin {
    width: 7.5%;
    border-radius: 15%;
}
#tail_wrap {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 12px;
}
#job_links {
    display: flex;
    flex-direction: column;
    width: 33%;
}
#footer_links {
    display: flex;
    flex-direction: column;
    width: 33%;
}
#quote {
    font-style: italic;
}
.project_wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.project { 
    width:30%;
    margin-top: 25px;
}
.project img { 
    width: 80%;
    padding:2.5%;
}
#showOff {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 25px;
    width: 65%;
    margin-right: 30%;
    margin: 2%;
}
#showOffLeft img {
    width: 75%;
    border-radius: 1em;
    border: 2px solid black;
}
#showOffRight img {
    width: 100%;
    border-radius: 1em;
    border: 2px solid black;
}
#carousel {
    width: 45%;
    align-items: center;
}
#row {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
#row_words {
    width: 35%;
}
#row_words a {
    font-weight: bold;
}
#tech_desc {
    width: 60%;
    margin: 1.5%;
}
#HeadShotPic {
    width: 20%;
    border-radius: 50%;
}
#carousel2 {
    width: 45%;
    align-items: center;
    overflow: hidden;
}
#carousel2 img {
    height: 30vh;
}
@media only screen and (max-width: 720px) {
    .project_wrapper {
        flex-direction: column;
    }
    .project { 
        width:80%;
        margin-top: 25px;
        margin-left: 10%;
    }
    #row {
        flex-direction: column;
    }
    #row_words {
        width: 80%;
        margin-left: 10%;
    }
    #carousel2 {
        width: 80%;
        margin-left: 10%;
    }
    #carousel {
        width: 80%;
        margin-left: 10%;
    }
    #carousel img {
        height: 30vh;
    }
    #showOff {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    #showOffLeft {
        margin-bottom: 25px;
        width: 100%;
    }
    #fine_print {
        font-size: x-small;
    }
}